:root {
  /* BUTTONS */
  /* Danger */
  --color-danger: hsl(0, 84%, 58%);
  --color-danger-text: hsl(0, 0%, 100%);
  --color-danger-hover: hsl(0, 84%, 39%);
  /* Submit */
  --color-submit: hsl(210, 100%, 53%);
  --color-submit-text: hsl(0, 0%, 100%);
  --color-submit-hover: hsl(210, 100%, 46%);
  --color-submit-disabled: hsl(210, 91%, 70%);
  /* Secondary */
  --color-secondary: hsl(210, 7%, 45%);
  --color-secondary-text: hsl(0, 0%, 100%);
  --color-secondary-hover: hsl(210, 7%, 31%);
  /* Reset */
  --color-reset: hsl(0, 84%, 58%);
  --color-reset-text: hsl(0, 0%, 100%);
  --color-reset-hover: hsl(0, 84%, 39%);
  /* Regular */
  --color-regular: hsl(210, 100%, 53%);
  --color-regular-text: hsl(0, 0%, 100%);
  --color-regular-hover: hsl(210, 100%, 46%);
  /* SELECTOR */
  --color-selector-label: hsl(210, 4%, 39%);
  --color-selector-text: hsl(210, 4%, 39%);
  --color-selector-background: hsl(210, 7%, 91%);
  --color-selector-border: hsl(210, 7%, 91%);
  --color-selector-border-focused: hsl(210, 13%, 74%);
  --color-selector-background-focused: hsl(0, 0%, 100%);
  --color-selector-border-focused: hsl(210, 13%, 65%);
  --color-selector-icon-container: hsl(210, 4%, 39%);
  /* BADGE */
  --color-badge: hsl(217, 94%, 85%);
  --color-badge-text: hsl(223, 75%, 27%);
  --color-badge-dark: hsl(200, 94%, 85%);
  --color-badge-dark-text: hsl(223, 75%, 27%);
  /* CARD */
  --color-card-text: hsl(210, 4%, 39%);
  --color-card-shadow: hsla(0, 0%, 0%, 0.1);
  /* INPUT */
  --color-input-shadow: hsla(0, 0%, 0%, 0.1);
  --color-input-shadow-focus: hsla(210, 80%, 60%, 0.5);
  --color-input-disabled: hsl(210, 7%, 91%);
  --color-image-input-label: hsl(210, 4%, 39%);
  --color-image-input-border: hsl(210, 7%, 82%);
  --color-image-input-border-focus: hsl(210, 87%, 53%);
  --color-text-input: hsl(210, 4%, 39%);
  --color-text-input-label: hsl(210, 4%, 39%);
  --color-text-input-border: hsl(210, 7%, 82%);
  --color-text-input-border-focus: hsl(210, 87%, 53%);
  --color-text-input-shadow: hsla(210, 88%, 58%, 0.4);
  --color-number-input: hsl(210, 4%, 39%);
  --color-number-input-label: hsl(210, 4%, 39%);
  --color-number-input-border: hsl(210, 7%, 82%);
  --color-number-input-border-focus: hsl(210, 87%, 53%);
  /* IMAGE INPUT */
  --color-image-input: hsl(210, 4%, 39%);
  --color-image-input-border: hsl(210, 7%, 82%);
  --color-image-input-background: hsl(0, 0%, 100%);
  --color-image-input-border-focus: hsl(210, 87%, 53%);
  --color-image-input-shadow: hsla(210, 88%, 58%, 0.4);
  /* MODAL */
  --color-modal-title: hsl(271, 35%, 40%);
  --color-modal-background: hsl(0, 0%, 100%);
  --color-modal-overlay: hsla(210, 13%, 23%, 0.5);
  /* CHECKBOX */
  --color-checkbox-label: hsl(210, 4%, 39%);
  /* MOBILE MENU */
  --color--menu-button: hsl(210, 7%, 63%);
  --color--menu-button-text-hover: hsl(0, 0%, 100%);
  --color--menu-button-shadow-focus: hsl(0, 0%, 100%);
  --color--menu-button-hover: hsl(210, 7%, 31%);
  /* LOADING */
  --color-loading-ball-blue: hsl(210, 91%, 70%);
  --color-loading-ball-green: hsl(150, 59%, 65%);
  --color-loading-ball-red: hsl(0, 83%, 68%);
}
